<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Happy News</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="jumbotron" style="color:black">
      <h1 style="color:black">
        Happy News
      </h1>
    </div>
    <div class="container">
      {% for a,b,c,d,e,f,g,h in context %}
      <p>{{a}}</p>
      <p style="color:red">{{b}}</p>
      <p>{{c}}</p>
      <p style="color:green">{{d}}</p>
      <p>{{e}}</p>
      <p style="color:blue">{{f}}</p>
      <p>{{g}}</p>
      <p style="color:paleturquoise">{{h}}</p>

      {% endfor %}
    </div>
  </body>
</html>
