<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Happy News</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <style>
      .news_image {
        width: 400px;
      }
      .news_title {
        background: red;
        margin: 0px;
      }
      .tron {
        margin: 20px 50px;
      }
    </style>
  </head>
  <body>
    <div class="jumbotron" style="color:black">
      <h1 style="color:black; border:1px solid black">
        Happy News
      </h1>
    </div>
    <div class="container-fluid">
      <div class="row ">
        {% for title, desc, publish_date, textblob_pol, watson_pol, news_station, news_content, url_to_news, url_img in context %}
        <div style="border:1px solid black" class="tron col-lg-3 col-md-3 col-sm-4 ">
          <p class="news_title">{{title}}</p>
          <img src="{{url_img}}" class="news_image" />
        </div>

        {% endfor %}
      </div>
    </div>
  </body>
</html>
